// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.post-view{
    li {list-style: none;
        margin-bottom: 15px;
    }
}

.router-link-exact-active {
    color:var(--red)!important;
    font-weight: bolder; 
}
